<h1>Events you have attended</h1>

<div>
  <table>
    <% @attended_events.each do |event| %>
      <tr>
        <td><%= link_to event.title, event_path(event) %></td>
      
        <% if current_user.guest.rated?(current_user.guest, event) %>
          <td>
          |    You gave this event <%= current_user.guest.rating(event) %> stars!
          </td>
          <% else %>
          <td>
          <%= form_for(@rating, url: "/events/#{event.id}/rate") do |f| %>
           | <%= f.label :stars %>
            <%= f.select :stars, (1..5) %>
          </td>
        
          <tr>
          <td>
            <%= f.label :feedback %>
            <%= f.text_field :feedback %>
         </td>
         </tr>

          <tr>
          <td><%= button_tag(type: 'submit', class: "btn btn-primary") do %>
           <i class="icon-ok icon-white"></i> Rate Event
            <% end %><br><br>
          </td>
          </tr>
             <% end %>
          <% end %>
      <% end %>

  </table>
</div>


