<h1>Edit Profile</h1>

<%= form_for(@user) do |f| %>
<div class="actions">
  <p>
  <%= f.label :image_url %>
  <%= f.text_field :img_url %>
  <p>
  <%= f.label :bio %>
  <%= f.text_area :bio %>
  <br>
  <br>
<%= button_to "UPDATE PROFILE", user_path %>
<br>
<%= link_to @user.name, @user %> |
<%= link_to 'All Users', users_path %>
<%end %>
