<% if flash[:notice] %>
   <br><div class="notice"><%= flash[:notice] %></div>
 <% end %>

<h2> User Name: <%= @user.name %> </h2>

<h3> User Bio: <%= @user.bio %> </h3>

<%= image_tag @user.img_url , size: "90", alt: "user_avatar" %>

<br>

Events <%= @user.name %> is attending:
<ul>
<% @user.guest.events.each do |event| %>
	<li>
	<%= event.title %>: <%= event.description %> (<%= event.day %>) <br>
	</li>
<% end %>
</ul>
<br>
<br>
Events <%= @user.name %> is hosting:
<ul>
<% @user.host.events.each do |event| %>
  <li>
  <%= link_to event.title,event_path(event) %>: <%= event.description %> (<%= event.day %>) <br>
  </li>
<% end %>
</ul> 
<br>
<br>
<% if @user==current_user %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
