<% if flash[:notice] %>
   <br><div class="notice"><%= flash[:notice] %></div>
 <% end %>

<h2> User Name: <%= @user.name %> </h2>

<h3> User Bio: <%= @user.bio %> </h3>

<%= image_tag @user.img_url , size: "90", alt: "user_avatar" %>

<br>
<<<<<<< HEAD
  <% if !@user.guest.events.empty? %>
Events <%= @user.name %> is attending:
<ul>
  <% @user.guest.events.each do |event| %>
	 <li>
	 <%= link_to event.title,event_path(event) %>: <%= event.description %> (<%= event.day %>) <br>
	 </li>
    <% end %>
  <% else %>
  <%= @user.name %> is currently not attending any events. Boooring!
<%end %>
</ul>
<br>
<br>
  <% if !@user.host.events.empty? %>
Events <%= @user.name %> is hosting:
=======

Events <%= @user.name %> will be attending:
<ul>
<% @user.guest.upcoming_events.each do |event| %>
	<li>
	<%= event.title %>: <%= event.description %> (<%= event.day %>) <br>
	</li>
<% end %>
</ul>
<br>
<br>
Events <%= @user.name %> will be hosting:
>>>>>>> be4d37dbf83e8e08df76a716aaef37af6a818d69
<ul>
<% @user.host.upcoming_events.each do |event| %>
  <li>
  <%= link_to event.title,event_path(event) %>: <%= event.description %> (<%= event.day %>) <br>
  </li>
<% end %>
</ul> 
<br>
<br>
Events <%= @user.name %> has attended:
<ul>
<% @user.guest.past_events.each do |event| %>
  <li>
  <%= event.title %>: <%= event.description %> (<%= event.day %>) <br>
  </li>
<% end %>
</ul>
<br>
<br>
Events <%= @user.name %> has hosted:
<ul>
<% @user.host.past_events.each do |event| %>
  <li>
  <%= link_to event.title,event_path(event) %>: <%= event.description %> (<%= event.day %>) <br>
  </li>
<% end %>
<% else %>
  <%= @user.name %> is currently not hosting any events.
<%end %>
</ul> 
<br>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
