<div class="container">
	<div id="page_title">
  	<h1>Tag: <%= @tag.name.capitalize %></h1>
	</div>

	<div class="tag_giphy">
	  <a href="/tags/<%= @tag.id %>"><img src="<%= @tag.giphy_url %>"> </a>
  </div>
	<!-- <h3>Tagged events:</h3> -->
	<span id="tags_label"><h2> Events </h2> </span>


  <% @tag.unique_events.each do |event| %>
    <%= event.day %><span class="horizontal_space_10px"></span><td><%= link_to event.title, event %>
    <br>
  <% end %>

</div>