<div id="header">
<h1>IronBoard</h1>
<a href="/"> <img style="height:50px;width:50px;" src="<%= image_path 'logo.png' %>"> </a>

<% if current_user %>
Welcome, <%= link_to current_user.name, user_path(current_user) %> !  
<%= link_to "Log Out", logout_path %> |  
<% else %>
<%= link_to "Log In", login_path %> | 
<%= link_to "Sign Up", signup_path %> | 
<% end %>
<%= link_to "Events", events_path %> | 
<%= link_to "Users", users_path %> | 
<%= link_to "Browse Events By Tag", tags_path %>
</div>


