
<div class="container">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= form_for @event, html: {class: "form-horizontal"} do |f| %>

    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="row">
        <div class="col-xs-6">
          <div class="jumbotron">
            <div class="form-group">
              <%= f.label :title %>
              <div class="col-lg-10">
                <%= f.text_field :title %>
              </div>
            </div>
            <div class="form-group">  
              <%= f.label :day %>
              <div class="col-lg-10">
                <%= f.date_field :day %>
              </div>
            </div>
            <div class="form-group">  
              <%= f.label :start_time %>
              <div class="col-lg-10">
                <%= f.time_field :start_time %>
              </div>
            </div>
            <div class="form-group">  
              <%= f.label :end_time %>
              <div class="col-lg-10">
                <%= f.time_field :end_time %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :location %>
              <div class="col-lg-10">
                <%= f.text_field :location %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :description %>
              <div class="col-lg-10">
                <%= f.text_area :description %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="jumbotron">
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) {|b| b.label(:"name" => b.value, :class => "checkbox") { b.check_box(:class => "checkbox") + b.text } } %>
            <%= f.fields_for :tags, Tag.new do |tag_f| %>
            <h4>Add new tag: </h4>
          
            <%= tag_f.label :name %>
            <%= tag_f.text_field :name %>
            <% end %>

          </div>
        </div>
    </div>
  </div>
<div class="container">
  <div class="well panel-primary">
    <center><h3 class="panel-title"><%= f.submit %><% end %></h3></center>
  </div>
</div>

<!--<form class="form-horizontal">
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Checkbox
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Radios</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Option one is this
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Option two can be something else
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Selects</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <br>
        <select multiple="" class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>-->
