<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<h1><%= @event.title %></h1>

<div class="event-top-info">
  <h3>
    Day of event: <%= @event.day %>
  </h3>
  <ul>
    <li>
      Starts at <%= @event.start_time %>
    </li>
    <li>
      Ends at <%= @event.end_time %>
    </li>
    <li>
      Located at <%= @event.location %>
    </li>
  </ul>

<iframe
  width="400"
  height="300"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDmdPRiBHOWqZOBU1FeaJDhi6IkE-MYst8
    &origin=Flatiron+School,NewYork+NY&destination=<%=@event.location %>,New York+NY" allowfullscreen>
</iframe>



</div>
<div class="event-more-info">
  <p>
    <%= @event.description %>
  </p>
  <p>
    Hosted by: <%= link_to @event.host.user.name,user_path(@event.host.user) %>!
  </p>
</div>

<div>
<%= button_to "Attend Event", rsvp_path %>
</div>

<div>
  <% if !@event.guests.empty? %>
  <p>
    Guests Attending:
  </p>
  <ul>
    <% @event.guests.each do |guest| %>
    <li>
      <%= guest.user.name %>
    </li>
                 <% end %>
    <% end %>
  </ul>
</div>


