<% if flash[:notice] %>
   <div class="notice"><%= flash[:notice] %></div>
 <% end %>

<h1><%= @event.title %></h1>

<div class="event-top-info">
  
  <% @event.tags.each do |tag| %>
    <a href="/tags/<%= tag.id %>"><img style="height:150px;width:auto;" src="<%= tag.giphy_url %>"> </a>
  <% end %>

  <h3>
    Day of event: <%= @event.day %>
  </h3>
  <ul>
    <li>
      Starts at <%= @event.starts_at %>
    </li>
    <li>
      Ends at <%= @event.ends_at %>
    </li>
    <li>
      Located at <%= @event.location %>
    </li>
  </ul>

<iframe
  width="400"
  height="300"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDmdPRiBHOWqZOBU1FeaJDhi6IkE-MYst8
    &origin=place_id:ChIJfSpRxqVZwokRbhDqemhazdA&destination=<%=@event.location %>,New York+NY" allowfullscreen>
</iframe>



</div>
<div class="event-more-info">
  <p>
    <%= @event.description %>
  </p>
  <p>
    Hosted by: <%= link_to @event.host.user.name,user_path(@event.host.user) %>!
  </p>
</div>

<div>
<%= button_to "Attend Event", rsvp_path %>
</div>

<div>
  <% if !@event.guests.empty? %>
  <p>
    Guests Attending:
  </p>
  <ul>
    <% @event.guests.each do |guest| %>
    <li>
      <%= link_to guest.user.name,user_path(guest.user) %>
    </li>
                 <% end %>
    <% end %>
  </ul>
</div>
<div>
<%= link_to "Edit", edit_event_path(@event) %>
</div>

