<h1>LOGIN</h1>
<p>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<%= form_tag login_path do %>
<%= label_tag :name, "NAME"%>
<%= text_field_tag :name %>
</p>
<p>
<%= label_tag :password %>
<%= password_field_tag :password %>
</p>

<p>
<%= label_tag :password_confirmation %>
<%= password_field_tag :password_confirmation %>
</p>
<%= submit_tag "LOGIN" %>
<% end %>
